/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9fafc;
  color: #333;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #2c3e50;
}

h3 {
  margin-top: 20px;
  color: #34495e;
}

/* Стилі для параграфів */
p {
  margin: 10px 20px;
}

/* Стилі для списків */
ul, ol {
  margin: 10px 40px;
}

/* Стилі для зображення */
#city-image {
  display: block;
  margin: 20px auto;
  border: 5px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Кнопки */
div {
  text-align: center;
  margin: 20px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #2980b9;
}

/* Посилання */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
